.jumbotron{
    padding:1rem;
    background-image:url("./header.jpg");
    background-position-y: -150px;
    font-weight:bold;
    color:white; 
    .nav{
        display:flex;
        justify-content:space-around;
        font-size:1.2rem;
        margin-bottom:3rem;
        .logo{
            margin-right:60%;
        }
    }
    
    .title{
        margin:4rem;
    }
}