.nav{
    display:flex;
    justify-content:space-around;
    font-size:1.2rem;
    font-weight:bold;
    margin:1rem;

    .logo{
        margin-right:auto;
    }
    .menuLink{
        margin-left:2rem;
    }
}

.banner{
    padding:1rem;
    background-image:url("./img/banner.jpg");
    background-position-y: -150px;
    
    .title{
        font-weight:bold;
        color:white; 
        margin:5rem;
    }
}